  <footer th:fragment="footer">
    <div class="container-fluid text-body-secondary text-center my-5 py-5">
      <div class="h5">
          &copy; 2024 Perfume Shop Ltd. - All rights reserved
      </div>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item">&middot;</li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item">&middot;</li>
        <li class="list-inline-item"><a href="#">Support</a></li>
      </ul>
  </div>
</footer>
