  <footer th:fragment="footer">
    <div class="container-fluid text-body-secondary text-center my-5 py-5">
      <div class="h5">
          &copy; 2024 <span th:text="#{footer_firm_name}">Victory - Quality Perfumes Ltd. - All rights reserved</span>
      </div>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="#"
             th:text="#{footer_terms}"
          >Terms</a>
        </li>
        <li class="list-inline-item">&middot;</li>
        <li class="list-inline-item">
          <a th:href="@{/contacts}"
             th:text="#{footer_contacts}"
          >Contacts</a>
        </li>
        <li class="list-inline-item">&middot;</li>
        <li class="list-inline-item">
          <a
                  th:href="@{/about}"
                  th:text="#{footer_about_us}"
          >About us</a>
        </li>
      </ul>
  </div>
</footer>
