<head th:fragment="head">
  <script src="/js/color-modes.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script th:src="@{/js/currency-convert.js}"></script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Victory - Quality Perfumes Ltd.</title>

  <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
  <link rel="stylesheet" href="/css/styles.css">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/carousel.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css" rel="stylesheet">

</head>