.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: white;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      .bd-mode-toggle {
        z-index: 1500;
      }

      .bd-mode-toggle .dropdown-menu .active .bi {
        display: block !important;
      }


.btn-outline-light {
  --bs-btn-font-weight: 600;
  --bs-btn-color: #f8f9fa;
  --bs-btn-bg: transparent;
  --bs-btn-border-color: #f8f9fa;
  --bs-btn-hover-color: #212529; 
  --bs-btn-hover-bg: #f8f9fa;
  --bs-btn-hover-border-color: #f8f9fa;
  --bs-btn-focus-shadow-rgb: 255, 255, 255;
  --bs-btn-active-color: #212529;
  --bs-btn-active-bg: #e2e6ea;
  --bs-btn-active-border-color: #dae0e5;

  display: flex;
  align-items: center;
  height: 40px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.2s, border-color 0.2s;
  border-radius: 0.375rem;
}

.btn-outline-light svg {
  margin-right: 0.5rem;
}

.dropdown-toggle::after {
  color: white;
}

.dropdown-toggle:hover::after {
  color: black; 
}

html,
body {
    height: 100%;
}

.form-field {
    max-width: 330px;
    padding: 1rem;
}

.form-field .form-floating:focus-within {
    z-index: 2;
}

.no-arrow {
    background-image: none !important;
}

.link-primary-no-underline {
    color: var(--bs-primary);
    text-decoration: none;
}

.card-custom {
    width: 70%;
    height: auto;
    margin: 0 auto;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card-custom:hover {
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5);
    transform: scale(1.05);
}