<!doctype html>
<html lang="en" data-bs-theme="auto"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="~{commons/head::head}"></head>

  <body>

  <header th:replace="~{commons/header::header}"></header>

<main>

    <div class="my-5">
        <div class="p-5 text-center bg-body-tertiary">
          <div class="container py-5">
            <h1 class="text-body-emphasis" th:text="#{title_paragraph_one}">Welcome to Victory - Quality Perfumes Ltd.</h1>
            <p class="col-lg-8 mx-auto lead" th:text="#{paragraph_one}">
                At Victory - Quality Perfumes Ltd., we believe that every scent tells a unique story. Nestled in the heart of Pleven, our boutique is a haven for perfume enthusiasts and casual shoppers alike. Since 2020, we have curated an exquisite collection of the finest fragrances from around the world, ensuring that each bottle we offer is a testament to elegance, luxury, and individuality.
            </p>
          </div>
        </div>
      </div>
      <div class="my-5">
        <div class="p-5 text-center bg-body-tertiary">
          <div class="container py-5">
            <h1 class="text-body-emphasis" th:text="#{title_paragraph_two}">Our Passion for Perfume</h1>
            <p class="col-lg-8 mx-auto lead" th:text="#{paragraph_two}">
                What sets us apart at Victory - Quality Perfumes Ltd. is our unwavering passion for perfumery. Our journey began with a simple yet profound love for scents that evoke memories, stir emotions, and enhance personal expression. This passion drives us to meticulously select each perfume in our collection, focusing on quality, craftsmanship, and the unique stories behind every brand we showcase.
            </p>
          </div>
        </div>
      </div>
      <div class="my-5">
        <div class="p-5 text-center bg-body-tertiary">
          <div class="container py-5">
            <h1 class="text-body-emphasis" th:text="#{title_paragraph_three}">A World of Fragrance</h1>
            <p class="col-lg-8 mx-auto lead" th:text="#{paragraph_three}">
                Step into our shop and discover a world of olfactory delights. Whether you seek a timeless classic, a daring new scent, or a thoughtful gift, our knowledgeable staff is dedicated to helping you find the perfect fragrance. From niche artisanal perfumes to internationally renowned brands, our diverse selection ensures that there’s something for every preference and occasion.          
            </p>
          </div>
        </div>
      </div>
      <div class="my-5">
        <div class="p-5 text-center bg-body-tertiary">
          <div class="container py-5">
            <h1 class="text-body-emphasis" th:text="#{title_paragraph_four}">Commitment to Excellence</h1>
            <p class="col-lg-8 mx-auto lead" th:text="#{paragraph_four}">
                At Victory - Quality Perfumes Ltd., excellence is more than a standard — it’s our commitment to you. We prioritize customer satisfaction above all else, offering personalized service that ensures your shopping experience is as delightful as the scents we offer. Whether you’re a connoisseur or new to the world of perfumery, we are here to guide you, share our expertise, and make your visit memorable.
            </p>
          </div>
        </div>
      </div>
      <div class="my-5">
        <div class="p-5 text-center bg-body-tertiary">
          <div class="container py-5">
            <h1 class="text-body-emphasis" th:text="#{title_paragraph_five}">Join Us in the Journey</h1>
            <p class="col-lg-8 mx-auto lead" th:text="#{paragraph_five}">
                We invite you to explore our online store or visit us in person at Pleven. Immerse yourself in the enchanting world of perfumery, where each bottle holds the promise of a unique sensory experience. Follow us on facebook page Victory Ltd. to stay updated on the latest arrivals, exclusive offers, and insights into the art of fragrance.
            </p>
            <p class="col-lg-8 mx-auto lead" th:text="#{paragraph_six}">
                Thank you for choosing Victory - Quality Perfumes Ltd. Let us help you find a scent that resonates with your spirit and leaves a lasting impression.
            </p>         
          </div>
        </div>
      </div>


  <footer th:replace="~{commons/footer::footer}"></footer>
</main>
<script src="/static/js/bootstrap.bundle.min.js"></script>

    </body>
</html>
