<!doctype html>
<html lang="en" data-bs-theme="auto"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="~{commons/head::head}"></head>

<body>

<header th:replace="~{commons/header::header}"></header>

<div class="container">
    <main class="form-field w-100 m-auto">
        <form
                th:object="${productData}"
                th:action="@{/products/add}"
                th:method="POST"
                enctype="multipart/form-data"
        >
            <h1 class="h3 my-4 fw-normal">Add Product</h1>
            <div class="text-danger mb-2" style="font-size: 15px" th:if="${hasError}" th:text="${errorMessage}">Error occurred!</div>
            <div class="form-floating mb-3">
                <input
                        th:field="*{brand}"
                        th:errorclass="is-invalid"
                        name="brand"
                        type="text"
                        class="form-control"
                        id="floatingBrand"
                        placeholder="Brand"
                        minlength="1"
                        maxlength="30"
                        required
                >
                <small class="invalid-feedback danger" style="font-size: 15px">Brand length must be between 1 and 30 characters!</small>
                <label for="floatingBrand">Brand</label>
            </div>
            <div class="form-floating mb-3">
                <input
                        th:field="*{name}"
                        th:errorclass="is-invalid"
                        name="name"
                        type="text"
                        class="form-control"
                        id="floatingName"
                        placeholder="Product name"
                        minlength="1"
                        maxlength="30"
                        required
                >
                <small class="invalid-feedback danger" style="font-size: 15px">Product name length must be between 1 and 30 characters!</small>
                <label for="floatingName">Product name</label>
            </div>
            <div class="form-floating mb-3">
                <textarea
                        th:field="*{description}"
                        th:errorclass="is-invalid"
                        name="description"
                        type="text"
                        class="form-control"
                        id="floatingDescription"
                        placeholder="Description"
                        style="height: 120px;"
                        minlength="20"
                        maxlength="150"
                        required
                ></textarea>
                <small class="invalid-feedback danger">The product description should be between 20 and 150 symbols!</small>
                <label for="floatingDescription">Description</label>
            </div>
            <div class="form-floating mb-3">
                <select
                        th:field="*{gender}"
                        th:errorclass="is-invalid"
                        name="productGender"
                        class="form-select"
                        id="floatingGender"
                        required
                >
                    <option value="">Select gender</option>
                    <option th:each="genderType : ${genderTypes}" th:value="${genderType}" th:text="${genderType}"></option>
                </select>

                <small class="invalid-feedback danger">You must select a gender!</small>
                <label for="floatingGender" class="visually-hidden">Gender</label>
            </div>
            <div class="form-floating mb-3">
                <input
                        th:errorclass="is-invalid"
                        name="price"
                        type="number"
                        class="form-control"
                        id="floatingPrice"
                        placeholder="Price in BGN"
                        value=""
                        step="0.01"
                        min="0.01"
                        required
                >
                <small class="invalid-feedback danger" style="font-size: 15px">Please add price!</small>
                <label for="floatingPrice">Price in BGN</label>
            </div>
            <div class="form-floating mb-3">
                <input
                        th:errorclass="is-invalid"
                        name="stock"
                        type="number"
                        class="form-control"
                        id="floatingStock"
                        placeholder="Stock"
                        min="1"
                        value=""
                        required
                >
                <small class="invalid-feedback danger" style="font-size: 15px">Please add stock!</small>
                <label for="floatingStock">Stock</label>
            </div>
            <div class="form-floating mb-3">
                <input
                        th:field="*{packaging}"
                        th:errorclass="is-invalid"
                        name="packaging"
                        type="text"
                        class="form-control"
                        id="floatingPackaging"
                        placeholder="Packaging"
                        required
                >
                <small class="invalid-feedback danger" style="font-size: 15px">Packaging is required!</small>
                <label for="floatingPackaging">Packaging in ml.</label>
            </div>
            <div class="form-floating mb-3">
                    <select
                            th:field="*{productTypeName}"
                            th:errorclass="is-invalid"
                            name="productTypeName"
                            class="form-select"
                            id="floatingType"
                            required
                    >
                        <option value="">Select type</option>
                        <option th:each="productType : ${productTypes}" th:value="${productType}" th:text="${productType}"></option>
                    </select>

                    <small class="invalid-feedback danger">You must select a type!</small>
                <label for="floatingType" class="visually-hidden">Types</label>
            </div>
            <div class="form-floating mb-3">
                <div class="label-holder d-flex">
                    <label for="floatingImage" class="h6 mb-2">Upload an image:</label>
                </div>
                <input
                        th:errorclass="is-invalid"
                        name="image"
                        type="file"
                        class="form-control"
                        id="floatingImage"
                        accept="image/*"
                        required
                >
                <small class="invalid-feedback danger">Please upload an image!</small>
            </div>

            <button class="btn btn-primary w-100 my-3" type="submit">Add Product</button>

        </form>
    </main>
</div>
<footer th:replace="~{commons/footer::footer}"></footer>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('floatingPrice').value = '';
        document.getElementById('floatingStock').value = '';
    });
</script>

</body>
</html>