<!doctype html>
<html lang="en" data-bs-theme="auto"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{commons/head::head}"></head>

<body>

<header th:replace="~{commons/header::header}"></header>

<div class="container">
    <main class="form-field w-100 m-auto">
        <form
                th:object="${carouselData}"
                th:action="@{/carousel/add}"
                th:method="POST"
                enctype="multipart/form-data"
        >
            <div class="form-floating mb-3">
                <div class="text-danger mb-2" style="font-size: 15px" th:if="${hasError}"
                     th:text="${errorMessage}">
                    Error occurred!
                </div>
                <div class="label-holder d-flex">
                    <label for="floatingImage" class="h6 mb-2">Upload carousel image:</label>
                </div>
                <input
                        th:errorclass="is-invalid"
                        name="image"
                        type="file"
                        class="form-control"
                        id="floatingImage"
                        accept="image/*"
                        required
                >
                <small class="invalid-feedback danger">Please upload an image!</small>
            </div>

            <button class="btn btn-primary w-100 my-3" type="submit">Add carousel</button>

        </form>
    </main>
</div>

<footer th:replace="~{commons/footer::footer}"></footer>
</body>
</html>