<!doctype html>
<html lang="en" data-bs-theme="auto"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{commons/head::head}"></head>

<body>
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1 class="mb-4">Password Changed</h1>
        <p class="lead">You have successfully changed your password. Please log in again.</p>
        <a th:href="@{/user/login}" class="btn btn-primary mt-3">Log In</a>
    </div>
</div>
</body>
</html>
