<!doctype html>
<html lang="en" data-bs-theme="auto"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="~{commons/head::head}"></head>

<body>

<header th:replace="~{commons/header::header}"></header>
<div class="container mt-5">
    <h2 class="mb-4 text-center">Confirm Orders</h2>
    <div class="mt-3 text-center" style="font-size: 25px" th:if="${statusChanged}">Confirmation posted successfully!</div>

    <div class="mt-3 text-center" style="font-size: 25px" th:if="${ordersToConfirm.size() == 0}">There are no current
        orders waiting for confirmation.
    </div>
    <table
            class="table table-bordered mt-3"
            th:if="${ordersToConfirm.size() != 0}"
    >
        <thead>
        <tr>
            <th>Order ID</th>
            <th>Order Created</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="orderToConfirm : ${ordersToConfirm}">
            <td><a th:href="@{/order/details/{id}(id = *{orderToConfirm.id})}" th:text="${orderToConfirm.id}"></a></td>
            <td th:text="${orderToConfirm.orderCreatedDate}"></td>
            <td th:text="${orderToConfirm.firstName}"></td>
            <td th:text="${orderToConfirm.lastName}"></td>
            <td th:text="${orderToConfirm.phoneNumber}"></td>
            <td>
                <form
                        th:action="@{/order/confirm/{id}(id = *{orderToConfirm.id})}"
                        th:method="POST"
                >
                    <button class="btn btn-success">Confirm</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:replace="~{commons/footer::footer}"></footer>
</body>
</html>
