<!doctype html>
<html lang="en" data-bs-theme="auto"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{commons/head::head}"></head>

<body>

<header th:replace="~{commons/header::header}"></header>

<main>

    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
      <div class="carousel-inner">
        <th:block th:each="carouselImage, iterStat : ${carouselImages}">
          <div class="carousel-item" th:classappend="${iterStat.index == 0 ? ' active' : ''}">
            <img th:src="'data:image/jpeg;base64,' + ${carouselImage.image}"
                 th:alt="${carouselImage.name}"
                 style="width: 100%; height: auto;">
          </div>
        </th:block>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="container marketing">
        <div class="row">
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140"
                     th:src="@{/images/eau_de_toilette.png}" alt="Eau de Toilette">
                <h2 class="fw-normal">Eau de Toilette</h2>
                <p th:text="#{eau_de_toilette}">Eau de Toilette: A light, refreshing fragrance with a lower
                    concentration of perfume oils, perfect for everyday use. Subtle yet captivating aroma.</p>
            </div>
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140"
                     th:src="@{/images/eau_de_perfume.png}" alt="Eau de Perfume">
                <h2 class="fw-normal">Eau de Perfume</h2>
                <p th:text="#{eau_de_perfume}">Eau de Perfume: A long-lasting, rich fragrance with a higher
                    concentration of perfume oils. Ideal for special occasions and making a lasting impression.</p>
            </div>
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" th:src="@{/images/perfume.png}"
                     alt="Perfume">
                <h2 class="fw-normal">Perfume</h2>
                <p th:text="#{perfume}">Perfume: The most concentrated and long-lasting fragrance, offering an intense
                    and luxurious aroma that lasts all day. Perfect for special occasions.</p>
            </div>
        </div>
    </div>
</main>

<footer th:replace="~{commons/footer::footer}"></footer>

</body>
</html>
