<!doctype html>
<html lang="en" data-bs-theme="auto"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{commons/head::head}"></head>
<body>

<header th:replace="~{commons/header::header}"></header>

<div class="container">
<main class="form-field w-100 m-auto">
  <form
          th:object="${loginData}"
          th:action="@{/user/login}"
          th:method="POST"
  >
    <h1 class="h3 mb-3 fw-normal" th:text="#{login_sign_in}">Sign in</h1>

    <div class="text-danger mb-2" style="font-size: 15px" th:if="${hasError}" th:text="#{login_error_message}">Invalid username or password!</div>

    <div class="form-floating mb-3">
      <input name="username" type="text" class="form-control" id="floatingUsername" placeholder="Username" minlength="3" maxlength="20" required>
      <label for="floatingUsername" th:text="#{placeholder_username}">Username</label>
    </div>
    <div class="form-floating mb-3">
      <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password" minlength="8" maxlength="20" required>
      <label for="floatingPassword" th:text="#{placeholder_password}">Password</label>
    </div>

    <div class="form-check text-start mb-3">
      <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault" th:text="#{login_remember_me}">
        Remember me
      </label>
    </div>
    <button class="btn btn-primary w-100 py-2" type="submit" th:text="#{login_sign_in}">Sign in</button>
    <div class="text-center mt-3">
      <span th:text="#{login_no_account_text}">You don't have an account?</span>
      <a class="link-primary-no-underline" th:href="@{/user/register}" th:text="#{login_button_register}">Register</a>
    </div>
  </form>

</main>
</div>
    </body>
</html>
