<!doctype html>
<html lang="en" data-bs-theme="auto"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="~{commons/head::head}"></head>

  <body>
  <header th:replace="~{commons/header::header}"></header>
<div class="container">
    <main class="form-field w-100 m-auto">
        <form
            th:object="${registerData}"
            th:action="@{/user/register}"
            th:method="POST"
        >
            <h1 class="h3 mb-3 fw-normal" th:text="#{register}">Register</h1>
            <div class="text-danger mb-2" style="font-size: 15px" th:if="${usernameOrEmailTaken}" th:text="'Username or email address already in use!'"></div>
            <div class="text-danger mb-2" style="font-size: 15px" th:if="${passwordMismatch}" th:text="'Password and confirm password should be the same!'"></div>
            <div class="form-floating mb-3">
                <input
                        th:field="*{username}"
                        th:errorclass="is-invalid"
                        name="username"
                        type="text"
                        class="form-control"
                        id="floatingUsername"
                        placeholder="Username"
                        minlength="3"
                        maxlength="20"
                        required
                >
                <small class="invalid-feedback danger" style="font-size: 15px" th:text="#{username_length}">
                    Username length must be between 3 and 20 characters!
                </small>
                <label for="floatingUsername" th:text="#{placeholder_username}">
                    Username
                </label>
            </div>
            <div class="form-floating mb-3">
                <input
                        th:field="*{email}"
                        th:errorclass="is-invalid"
                        name="email"
                        type="email"
                        class="form-control"
                        id="floatingEmail"
                        placeholder="Email"
                        required
                >
                <small class="invalid-feedback danger" th:text="#{valid_email}">
                    Please enter valid email!
                </small>
                <label for="floatingEmail" th:text="#{placeholder_email}">
                    Email
                </label>
            </div>
            <div class="form-floating mb-3">
                <input
                        th:field="*{firstName}"
                        th:errorclass="is-invalid"
                        name="firstName"
                        type="text"
                        class="form-control"
                        id="floatingFirstName"
                        placeholder="First name"
                        minlength="2"
                        maxlength="20"
                        required
                >
                <small class="invalid-feedback danger" style="font-size: 15px" th:text="#{first_name_length}">
                    First name length must be between 2 and 20 characters!
                </small>
                <label for="floatingFirstName" th:text="#{placeholder_first_name}">
                    First name
                </label>
            </div>
            <div class="form-floating mb-3">
                <input
                        th:field="*{lastName}"
                        th:errorclass="is-invalid"
                        name="lastName"
                        type="text"
                        class="form-control"
                        id="floatingLastName"
                        placeholder="Last name"
                        minlength="2"
                        maxlength="20"
                        required
                >
                <small class="invalid-feedback danger" style="font-size: 15px" th:text="#{last_name_length}">
                    Last name length must be between 2 and 20 characters!
                </small>
                <label for="floatingLastName" th:text="#{placeholder_last_name}">
                    Last name
                </label>
            </div>
            <div class="form-floating mb-3">
                <input
                        th:errorclass="is-invalid"
                        name="password"
                        type="password"
                        class="form-control"
                        id="floatingPassword"
                        placeholder="Password"
                        minlength="8"
                        maxlength="20"
                        required
                >
                <small class="invalid-feedback danger" th:text="#{password_length}">
                    Password length must be between 8 and 20 characters!
                </small>
                <label for="floatingPassword" th:text="#{placeholder_password}">
                    Password
                </label>
            </div>
            <div class="form-floating mb-3">
                <input
                        th:errorclass="is-invalid"
                        name="confirmPassword"
                        type="password"
                        class="form-control"
                        id="floatingConfirmPassword"
                        placeholder="Confirm password"
                        minlength="8"
                        maxlength="20"
                        required
                >
                <small class="invalid-feedback danger" th:text="#{password_length}">
                    Password length must be between 8 and 20 characters!
                </small>
                <label for="floatingConfirmPassword" th:text="#{placeholder_confirm_password}">
                    Confirm password
                </label>
            </div>

            <button class="btn btn-primary w-100 py-2" type="submit" th:text="#{register}">
                Register
            </button>
            
            <div class="text-center mt-3">
                <span th:text="#{register_have_account_text}">Already have an account?</span>
                <a class="link-primary-no-underline" th:href="@{/user/login}" th:text="#{register_button_log_in}">
                    Login
                </a>
            </div>
        </form>
    </main>
</div>
</body>
</html>