<!doctype html>
<html lang="en" data-bs-theme="auto"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{commons/head::head}"></head>

<body>

<header th:replace="~{commons/header::header}"></header>

<main>
    <div class="container mt-5">
        <h1 class="mb-lg-5 text-center" th:text="#{search_results_heading}">Search results:</h1>
        <div class="mb-lg-5 text-center" style="font-size: 25px" th:if="${searchedProducts.size() == 0}" th:text="#{search_no_results(${keyword})}">No search results found.</div>
        <div class="row">
            <div class="col-md-4" th:each="product : ${searchedProducts}">
                <a class="link-primary-no-underline" th:href="@{/products/product/{id}(id = *{product.id})}">
                    <div class="card mb-4 shadow-sm card-custom">
                        <img th:src="'data:image/jpeg;base64,' + ${product.image}"
                             th:alt="${product.name}"
                             class="card-img-top" style="height: 260px"/>
                        <div class="card-body">
                            <h5 class="card-title" th:text="${product.name}">Product Name</h5>
                            <p class="card-text" th:text="${product.productTypeName}">Type</p>
                            <p class="card-text"><span class="price" data-id="price-${product.id}" th:text="${product.price}">0.00</span></p>
                        </div>
                        <input type="hidden" class="priceInBGN" data-id="price-${product.id}" th:value="${product.price}">
                    </div>
                </a>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{commons/footer::footer}"></footer>
</body>
</html>