<!doctype html>
<html lang="en" data-bs-theme="auto"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{commons/head::head}"></head>

<body>

<header th:replace="~{commons/header::header}"></header>

<main class="container main-content">
    <div class="container mt-5 w-100" style="max-width: 600px;">
        <div>
            <h1 class="text-center" th:text="#{terms_heading}"></h1>
            <h3 class="text-center mt-3" th:text="#{terms_welcoming_msg}"></h3>
            <p class="mt-3" th:text="#{terms_introduction}"></p>
            <h4 class="mt-3" th:text="#{terms_paragraph_one_heading}"></h4>
            <p th:text="#{terms_paragraph_one}"></p>
            <h4 class="mt-3" th:text="#{terms_paragraph_two_heading}"></h4>
            <p th:text="#{terms_paragraph_two}"></p>
            <h4 class="mt-3" th:text="#{terms_paragraph_three_heading}"></h4>
            <p th:text="#{terms_paragraph_three}"></p>
            <h4 class="mt-3" th:text="#{terms_paragraph_four_heading}"></h4>
            <p th:text="#{terms_paragraph_four}"></p>
            <h4 class="mt-3" th:text="#{terms_paragraph_five_heading}"></h4>
            <p th:text="#{terms_paragraph_five}"></p>
            <h4 class="mt-3" th:text="#{terms_paragraph_six_heading}"></h4>
            <p th:text="#{terms_paragraph_six}"></p>
            <h4 class="mt-3" th:text="#{terms_paragraph_seven_heading}"></h4>
            <p th:text="#{terms_paragraph_seven}"></p>
            <h4 class="mt-3" th:text="#{terms_paragraph_eight_heading}"></h4>
            <p th:text="#{terms_paragraph_eight}"></p>
            <h4 class="mt-3" th:text="#{terms_paragraph_nine_heading}"></h4>
            <p th:text="#{terms_paragraph_nine}"></p>
            <h4 class="text-center mt-4" th:text="#{terms_thanks_msg}"></h4>
        </div>
    </div>
</main>

<footer th:replace="~{commons/footer::footer}"></footer>

</body>
</html>