<!DOCTYPE html>
<html lang="en" data-bs-theme="auto"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{commons/head::head}"></head>

<body>

<header th:replace="~{commons/header::header}"></header>
  <div class="container mt-5 w-100" style="max-width: 600px;">
    <div class="card">
      <div class="card-header text-center">
        <h2>User Profile</h2>
      </div>
      <div class="card-body">
        <div class="mb-3 text-center">
          <strong>First Name:</strong> <span th:text="${profileData.getFirstName()}"></span>
        </div>
        <div class="mb-3 text-center">
          <strong>Last Name:</strong> <span th:text="${profileData.getLastName()}"></span>
        </div>
        <div class="mb-3 text-center">
          <strong>Email:</strong> <span th:text="${profileData.getEmail()}"></span>
        </div>
        <hr>
        <div class="mb-3 text-center">
          <strong>Username:</strong> <span th:text="${profileData.getUsername()}"></span>
        </div>
        <div class="mb-3 text-center">
          <strong>Member Since:</strong> <span th:text="${profileData.getMemberSince()}"></span>
        </div>
        <hr>
        <div class="text-center">
          <a th:href="@{/user/change-password}" class="btn btn-primary">Change password</a>
        </div>
      </div>
    </div>
  </div>

<footer th:replace="~{commons/footer::footer}"></footer>
</body>
</html>
