<!doctype html>
<html lang="en" data-bs-theme="auto"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{commons/head::head}"></head>

<body>

<header th:replace="~{commons/header::header}"></header>

<main>
    <div class="mt-3 text-center" style="font-size: 25px" th:if="${isAdded}" th:text="#{product_added_to_cart}">Successfully added product to the cart!</div>
    <div class="mt-3 text-center" style="font-size: 25px" th:if="${isNotAdded}" th:text="#{product_is_already_in_cart}">Product is already in the cart!</div>
    <div class="mt-3 text-center" style="font-size: 25px" th:if="${isMarkedForBuying}" th:text="#{product_is_marked_for_buying}">You can't delete a product that is marked for buying!</div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <img th:src="'data:image/jpeg;base64,' + ${product.image}"
                     th:alt="${product.name}"
                     class="img-fluid" />
            </div>
            <div class="col-md-6">
                <h2 th:text="${product.brand}">Product Brand</h2>
                <h1 th:text="${product.name}">Product Name</h1>
                <p th:text="${product.gender}">Gender</p>
                <p class="text-muted"><span th:text="${product.packaging}">Product Packaging</span> <span th:text="#{product_packaging}">ml.</span></p>
                <p class="text-muted" th:text="${product.productTypeName}">Product Type</p>
                <h3><span class="price" data-id="price-${product.id}" th:text="${product.price}">0.00</span></h3>

                <div class="mt-3 mb-3" style="font-size: 0.9em;">
                        <span class="badge" th:class="${product.inStock ? 'bg-success' : 'bg-danger'}"
                              style="width: 10px; height: 10px; border-radius: 50%; display: inline-block; margin-right: 5px;"></span>
                    <span th:if="${product.inStock}" th:text="#{product_available}">Available</span>
                    <span th:unless="${product.inStock}" th:text="#{product_out_of_stock}">Out of Stock</span>
                </div>

                <div th:if="${product.inStock}">
                    <form
                            th:action="@{/cart/add-product/{id}(id = *{product.id})}"
                            th:method="POST"
                    >
                        <button class="btn btn-primary mt-3"
                                style="width: 200px"
                                th:text="#{product_add_to_cart}"
                        >
                            Add to Cart
                        </button>
                    </form>
                </div>
                <div sec:authorize="isAuthenticated() && hasRole('ADMIN')">
                <form
                        th:action="@{/products/product/delete/{id}(id = *{product.id})}"
                        th:method="DELETE"
                >
                <button class="btn btn-primary mt-3"
                        style="width: 200px"
                        type="submit"
                        th:text="#{product_delete}"
                >
                    Delete product
                </button>
                </form>
                </div>
            </div>
            <input type="hidden" class="priceInBGN" data-id="price-${product.id}" th:value="${product.price}">

        </div>

        <div class="row mt-4">
            <div class="col">
                <h4 th:text="#{product_description}">Description</h4>
                <p th:text="${product.description}">Product description.</p>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{commons/footer::footer}"></footer>
</body>
</html>